@model IEnumerable<EventDetails>
@{
    ViewData["Title"] = "EventsInvitedTo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EventsInvitedTo</h1>




<div class="text-center mt-5">

    @if (Model.Count() > 0)

    {
        <table id="EventsInvitedTo" class="table-bordered table table-striped" title="My Events">
            <thead class="table-dark" id="myevents">
                <tr>
                    <th>Events you are Invited To</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.InviteByEmail == (String)ViewData["email"])


                    {
                        <tr>
                            <td><a href="#">@item.Title </a> </td>
                        </tr>

                    }
                }
            </tbody>


        </table>

    }

</div>

